*
{
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
@font-face {
    font-family: 'vollkornregular';
    src: url('fonts/vollkorn-regular-webfont.eot');
    src: url('fonts/vollkorn-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vollkorn-regular-webfont.woff2') format('woff2'),
         url('fonts/vollkorn-regular-webfont.woff') format('woff'),
         url('fonts/vollkorn-regular-webfont.ttf') format('truetype'),
         url('fonts/vollkorn-regular-webfont.svg#vollkornregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vollkornbold_italic';
    src: url('fonts/vollkorn-bolditalic-webfont.eot');
    src: url('fonts/vollkorn-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vollkorn-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/vollkorn-bolditalic-webfont.woff') format('woff'),
         url('fonts/vollkorn-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/vollkorn-bolditalic-webfont.svg#vollkornbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vollkornitalic';
    src: url('fonts/vollkorn-italic-webfont.eot');
    src: url('fonts/vollkorn-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vollkorn-italic-webfont.woff2') format('woff2'),
         url('fonts/vollkorn-italic-webfont.woff') format('woff'),
         url('fonts/vollkorn-italic-webfont.ttf') format('truetype'),
         url('fonts/vollkorn-italic-webfont.svg#vollkornitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vollkornbold';
    src: url('fonts/vollkorn-bold-webfont.eot');
    src: url('fonts/vollkorn-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vollkorn-bold-webfont.woff2') format('woff2'),
         url('fonts/vollkorn-bold-webfont.woff') format('woff'),
         url('fonts/vollkorn-bold-webfont.ttf') format('truetype'),
         url('fonts/vollkorn-bold-webfont.svg#vollkornbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
.b
{
	border:1px solid red;
}

html,body
{
	height:100%;
	min-height:100%;
	font:16px/1.5 "Open Sans", Arial, sans-serif;
}

h1,h2,h3,h4
{
	font-family:"vollkornregular", Georgia, sans-serif;
}

h1
{
	font-size:4em;
	text-transform:uppercase;
	font-weight:600;
	color:#000;
	background:url(images/h1.jpg) bottom center no-repeat;
	margin:60px 0;
	padding:40px 0;
}

h2
{
	font-size:2.3em;
	text-transform:uppercase;
	font-weight:400;
	color:#000;
	padding-bottom:0;
	margin-bottom:20px;
}

h3
{
	font-size:1.5em;
	text-transform:uppercase;
	font-weight:600;
	margin:30px 0;
	padding:20px 0;
}

h4
{
	font-size:1.5em;
	text-transform:uppercase;
	font-weight:600;
	padding:10px 0;
}

.thin
{
	font-weight:400;
}

.text-center h3
{
	background:url(images/h3.jpg) bottom center no-repeat;
}

.text-left h3
{
	background:url(images/h3.jpg) bottom left no-repeat;
}

p
{
	font-style:italic;
	margin:20px 0 25px;
}

.contact-info p
{
	margin:5px 0;
}

.container-fluid
{
	width:100%;
	text-align:center;
	position:relative;
	background:#fff;
	padding:0;
}

.container-fluid .row-fluid
{
	max-width:1450px;
	margin:0 auto -8px;
	padding:0 40px;
}

.icon:hover
{
	text-decoration:none;
}

header
{
	height:200px;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:10;
	background:#fff;
	border-bottom:1px solid #ccc;
}

header a .logo
{
	margin-top:25px;
}

header nav
{
	width:100%;
	text-align:center;
	font-family:"Open Sans", Arial, sans-serif;
}

header nav ul
{
	list-style:none;
	padding:0;
}

header nav ul li
{
	width:30%;
	display:inline-block;
}

header nav ul li a
{
	line-height:200px;
	display:inline-block;
	text-transform:uppercase;
	color:#000;
	font-weight:600;
}

header nav ul li a:hover
{
	text-decoration:none;
	color:#db6565;
}

header nav#top
{
	position:absolute;
	z-index:9999999;
	font-size:15px;
	margin-top:20px;
	right:50px;
}

header nav#top ul
{
	text-align:right;
}

header nav#top ul li
{
	width:auto;
	border-right:1px solid #000;
	padding:0 15px;
}

header nav#top ul li a
{
	line-height:0;
}

header nav#top ul li img
{
	margin-right:10px;
	margin-top:-5px;
}

header nav#top ul li:last-child
{
	border-right:0;
}

header nav#top ul li .open-cart .cart-info
{
	display:none;
}

header nav#top ul li .open-cart:hover .cart-info
{
	display:inline-block!important;
}

figure.banner
{
	position:relative;
	width:100%;
	height:100%;
}

figure.banner .full
{
	position:fixed;
	top:0;
	padding-top:200px;
	min-height:100%;
	min-width:100%;
	z-index:-1;
	left:0;
}

figure.banner .button
{
	position:absolute;
	z-index:9;
	bottom:50px;
	left:50%;
	margin-left:-25px;
}

figure.banner.small
{
	height:0px;
	opacity:0;
}

figure.banner.small .full
{
	width:100%;
	min-width:0!important;
	height:auto!important;
	min-height:0!important;
}

section
{
	width:100%;
	padding-bottom:100px!important;
	height:auto;
	display:inline-block;
	background:#fff;
	position:relative;
	z-index:2;
}

section .thumb
{
	max-width:100%;
	margin:30px 0;
}

section .content
{
	padding:0 30px;
}

section.top
{
	margin-top:200px!important;
}

footer
{
	background:#594d49;
	color:#fff;
	height:50px;
	line-height:50px;
	font-family:"Open Sans", Arial, sans-serif;
	width:100%;
	margin-top:30px;
}

footer .copy
{
	font-size:13px;
}

footer nav
{
	background:#594d49;
	font-size:15px;
	text-transform:uppercase;
	width:100%;
	text-align:right;
}

footer nav ul
{
	list-style:none;
	margin:0;
	padding:0;
}

footer nav ul li
{
	display:inline-block;
	position:relative;
}

footer nav ul li a
{
	color:#fff;
	padding:0 10px;
}

footer nav ul li a:hover
{
	text-decoration:none;
	color:#fff;
}

footer nav ul li ul.dropdown
{
	display:none;
	position:absolute;
	bottom:49px;
	margin-left:-10px;
	background:#594d49;
	z-index:999;
	min-width:230px;
	text-align:left!important;
	line-height:30px;
	padding:10px;
}

footer nav ul li ul.dropdown li
{
	line-height:20px;
	width:100%;
	padding:0;
}

footer nav ul li ul.dropdown li a
{
	line-height:20px;
	display:inline-block;
}

footer nav ul li:hover ul.dropdown
{
	display:block;
}

form
{
	text-align:left;
	font-style:italic;
}

form input,form textarea
{
	width:100%;
	margin-bottom:13px;
	background:#fafafa;
	-webkit-box-shadow:0 0 0;
	-moz-box-shadow:0 0 0;
	-ms-box-shadow:0 0 0;
	box-shadow:0 0 0;
	border:1px solid #fff;
	padding:10px;
}

form input:hover,form input:focus,form textarea:hover,form textarea:focus
{
	border-color:#a1a1a2;
}

form textarea
{
	height:250px;
}

form label
{
	width:100%;
	font-weight:400;
}

form input[type=submit]
{
	width:auto;
	font-style:normal;
	display:block;
	font-size:1.1em;
	height:50px;
	line-height:50px;
	color:#fff;
	background:#000;
	border:0;
	text-transform:uppercase;
	font-weight:600;
	font-family:"Open Sans", Arial, sans-serif;
	margin:30px 0;
	padding:0 85px;
}

form.search-form
{
	position:relative;
	height:40px;
}

form.search-form input.search
{
	position:relative;
	z-index:9;
	text-transform:uppercase;
	font-family:"Open Sans", Arial, sans-serif;
	background:#fff;
	font-style:normal;
	color:#000;
	border:1px solid #a1a1a1;
	font-size:1.1em;
	height:40px;
	line-height:40px;
}

form.search-form input.search-submit
{
	z-index:10;
	position:absolute;
	right:1px;
	top:1px;
	width:38px;
	height:38px;
	line-height:38px;
	background:#FFF url(images/search-icon.png) center center no-repeat;
	margin:0;
	padding:0;
}

#isotope .item
{
	width:31%;
	margin:1%;
}

#isotope .item img
{
	width:100%;
}

#isotope .item .caption
{
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms);
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity:0;
	opacity:0;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
	transition:all .3s;
	overflow:hidden;
	background:rgba(0,0,0,0.8);
	position:absolute;
	z-index:9998;
	display:inline-block;
	top:0;
	bottom:0;
	left:0;
	right:0;
	color:#fff;
	padding:20px 30px;
}

#isotope .item .caption a
{
	color:#fff;
}

#isotope .item .caption .share
{
	position:absolute;
	bottom:0;
	right:0;
	left:0;
	height:80px;
	z-index:9999;
	background:url(images/shadow.png) bottom left repeat-x;
	padding:30px;
}

#isotope .item .caption .share ul.social-icons
{
	list-style:none;
	width:100%;
	text-align:right;
	margin:0;
	padding:0;
}

#isotope .item .caption .share ul.social-icons li
{
	display:inline-block;
	margin-left:12px;
	max-width:33%;
}

#isotope .item:hover .caption
{
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms);
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1;
}

.cart .row
{
	border-bottom:1px solid #a1a1a1;
	padding:20px 0;
}

.cart .row.titles
{
	font-family:"Open Sans", Arial, sans-serif;
	text-transform:uppercase;
}

.cart .row.product
{
	line-height:80px;
	font-weight:600;
	font-style:italic;
}

.info-total
{
	margin-top:40px;
	background:#fafafa;
	text-align:left;
	padding:20px 0;
}

.info-total .col-md-8
{
	padding-left:40px;
}

.foot
{
	padding:30px 0;
}

input.checkout
{
	color:#fff;
	border:0;
	text-transform:uppercase;
	font-size:2em;
	font-family:"Open Sans", Arial, sans-serif;
	width:100%;
	padding-left:40px;
	line-height:70px;
	background:#000 url(images/safe.png) 30px 25px no-repeat;
}

input.checkout:hover
{
	background:#333 url(images/safe.png) 30px 25px no-repeat;
}

.product
{
	font-family:"Open Sans", Arial, sans-serif;
	margin-bottom:35px;
	padding-bottom:30px;
	border:1px solid #fff;
	color: #000;
}

.product:hover
{
	font-weight:700;
	color:#000;
	text-decoration:none;
	border-color:#ccc;
}

.sidebar
{
	padding-right:6%;
}

.sidebar h4
{
	margin-top:40px;
	font-style:italic;
	font-weight:400;
	font-size:1.3em;
}
.sidebar a {
	color:#000;	
}
.sidebar ul
{
	list-style:none;
	font-family:"Open Sans", Arial, sans-serif;
	font-size:18px;
	letter-spacing:1px;
	text-transform:uppercase;
	padding:0;
	margin-top:20px;
}

.sidebar ul li
{
	margin:10px 0;
	color:#000;
}

.sidebar ul ul {
	
	font-size:14px;
	letter-spacing:1px;
	text-transform:uppercase;
	color:#666;
}

.sidebar ul ul a { 
	
	color:#777;

}
.crumbtrail
{
	font-family:"Open Sans", Arial, sans-serif;
	font-size:.8em;
	margin-top:35px;
}

.product-large
{
	height:400px;
}

.social-icons.wide .icon
{
	margin-left:20px;
}

#accordion
{
	margin-top:30px;
}

.panel-group .panel + .panel
{
	margin:0;
}

.panel-default
{
	border:0;
}

.panel-default.panel
{
	-webkit-box-shadow:0 0 0;
	-moz-box-shadow:0 0 0;
	-ms-box-shadow:0 0 0;
	box-shadow:0 0 0;
}

.panel-default .panel-heading
{
	border:0;
	border-top:1px solid #000;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	border-radius:0;
	background:#fff;
	padding:6px 0;
}

.panel-default .panel-body
{
	border:0!important;
	padding:10px 0 20px;
}

.toggle
{
	width:100%;
	display:inline-block;
	background:url(images/arrow-up.png) right center no-repeat;
}

.toggle.collapsed
{
	background:url(images/arrow-down.png) right center no-repeat;
}

.options .title
{
	font-family:"Open Sans", Arial, sans-serif;
	text-transform:uppercase;
	display:inline-block;
	width:110px;
}

.options .label
{
	border:1px solid #000;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	border-radius:0;
	color:#000;
	margin-right:7px;
	text-transform:uppercase;
	font-family:"Open Sans", Arial, sans-serif;
	width:95px;
	font-size:.8em;
	height:30px;
	line-height:30px;
	display:inline-block;
	font-weight:400;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
	transition:all .3s;
	padding:0;
}

.options .label:hover,.options .label.active
{
	background:#333;
	color:#fff;
}

.options .label.size
{
	width:auto;
	padding:0 5px;
}

a.open-cart
{
	position:relative;
}

a.open-cart:hover .cart-info
{
	color:#000!important;
	text-decoration:none;
}

.cart-info
{
	position:absolute;
	z-index:999999;
	right:0;
	border:1px solid #a1a1a1;
	background:#fff;
	color:#000;
	width:405px;
	text-align:left;
	padding:10px;
}

.cart-info .title
{
	font-size:1.5em;
	padding-bottom:10px;
	border-bottom:1px solid #a1a1a1;
	margin:10px;
}

.cart-info .item-title
{
	text-transform:uppercase;
	font-size:.9em;
}

.cart-info .info
{
	font-size:.9em;
	font-weight:300;
	text-transform:none!important;
	font-style:italic;
	font-family:Vollkorn, Georgia, sans-serif;
	display:block;
	clear:both;
	position:relative;
}

.cart-info .btn
{
	margin-top:10px;
	width:100%;
	background:#000;
	color:#fff;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	border-radius:0;
	height:35px;
	font-size:1.7em;
	text-transform:uppercase;
	padding:25px 0;
}

.cart-info a.remove
{
	line-height:100px!important;
	margin-right:10px;
	display:inline-block;
}

.cart-info .item
{
	border-bottom:1px solid #a1a1a1;
	padding-bottom:15px;
	margin:15px;
}

.cart-info .total
{
	margin:15px;
}

.separator
{
	margin-top:50px;
	border-top:1px solid #a1a1a1;
	padding:0;
}

.select
{
	width:100%;
	height:50px;
	overflow:hidden;
	background:url(images/arrow-down.jpg) no-repeat right #FFF;
	border:1px solid #111;
	margin-bottom:10px;
}

.select select
{
	background:transparent;
	width:100%;
	text-transform:uppercase;
	font-family:"Open Sans", Arial, sans-serif;
	font-weight:300;
	color:#444;
	line-height:1;
	border:0;
	border-radius:0;
	height:50px;
	-webkit-appearance:none;
	font-size:1.5em;
	padding:10px 15px;
}

.store
{
	margin-top:40px;
	font-family:"Open Sans", Arial, sans-serif;
	font-size:14px;
}

.store h4
{
	text-transform:none;
}

.store img
{
	margin-top:22px;
}

.store p
{
	font-style:normal;
}

a,form ::-webkit-input-placeholder,form :-ms-input-placeholder,.sidebar ul li a
{
	color:#000;
}

.caps,.crumbtrail.back
{
	text-transform:uppercase;
}

.icon,.options
{
	margin-bottom:10px;
}

section img,.cart-info img
{
	max-width:100%;
}

form :-moz-placeholder,form ::-moz-placeholder
{
	color:#000;
	opacity:1;
}

.zoomContainer
{
	z-index:9;
}

.product-large img
{
	width: 552px;
	height: auto;
	max-height: 426px;
}

.products-small.row
{
	margin-top: 30px;
}

@media screen and max-width 720px {
	html,body
	{
		font-size:13px;
	}
	
	h1
	{
		font-size:2.5em;
		margin:25px 0;
		padding:10px 0;
	}
	
	#isotope .item
	{
		width:99%;
	}
}

@media screen and max-width 992px {
	header
	{
		height:75px;
		text-align:center;
		padding:0!important;
	}
	
	header a .logo
	{
		height:40px;
		margin-top:7px;
	}
	
	header .nav-toggle
	{
		background:url(images/nav-toggle.png) center center no-repeat;
		height:38px;
		width:38px;
		position:absolute;
		z-index:9999;
		bottom:-19px;
		left:50%;
		margin-left:-19px;
		cursor:pointer;
	}
	
	header nav
	{
		display:none;
		position:absolute;
		left:0;
		right:0;
		top:73px;
		background:#fff;
		margin-bottom:30px;
	}
	
	header nav ul
	{
		line-height:10px;
	}
	
	header nav ul li
	{
		width:100%;
	}
	
	header nav ul li a
	{
		line-height:30px;
	}
	
	header nav.show
	{
		display:block;
	}
	
	header nav.first
	{
		padding-top:30px;
	}
	
	header nav.second
	{
		margin-top:70px;
		border-bottom:1px solid #ccc;
	}
	
	figure.banner
	{
		max-height:230px;
	}
	
	figure.banner .full
	{
		padding-top:75px;
	}
	
	figure.banner.small
	{
		height:40%;
	}
	
	footer nav
	{
		text-align:left;
		padding:0 5px;
	}
	
	.product
	{
		display:inline-block;
	}
	
	.sidebar
	{
		text-align:center;
		padding-right:15px;
	}
	
	footer .row-fluid,footer .navigation
	{
		padding:0!important;
	}
}




/* EINDE */

/* line 60,  */
* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* line 65,  */
.b {
  border: 1px solid red; }

/* line 69,  */
html, body {
  height: 100%;
  min-height: 100%;
  font:14px/1.2 "Open Sans", Arial, sans-serif; }
  @media screen and (max-width: 720px) {
    /* line 69,  */
    html, body {
      font-size: 13px; } }

/* line 78,  */
a {
  color: #736763; }

html,body
{
	height:100%;
	min-height:100%;
	font:14px/1.2 "Open Sans", Arial, sans-serif;
}

h1,h2,h3,h4
{
	font-family:"vollkornregular", Georgia, sans-serif;
}

/* line 86,  */
h1 {
  font-size: 3.5em;
  text-transform: uppercase;
  font-weight: 200;
  color: #a69a96;
  padding: 40px 0;
  margin: 30px 0;
  background: none !important }
body.home  h1 {
  font-size: 3.5em;
  text-transform: uppercase;
  font-weight: 200;
  color: #a69a96;
  padding: 40px 0;
  margin: 30px 0;
  background: url("images/h1.jpg") bottom center no-repeat!important  }  
  @media screen and (max-width: 720px) {
    /* line 86,  */
    h1 {
      margin: 25px 0;
      padding: 10px 0;
      font-size: 2em; } }

/* line 101,  */
h2 {
  font-size: 2.3em;
  text-transform: uppercase;
  font-weight: 400;
  color: #a69a96;
  padding-bottom: 0;
  margin-bottom: 20px; }

/* line 110,  */
h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #a69a96;
  padding: 20px 0 0;
  margin: 0;
  font-weight: 200;
letter-spacing: 0.03em; }

/* line 118,  */
h4 {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #a69a96;
  padding: 10px 0;
  font-weight: 600; }

/* line 125,  */
.thin {
  font-weight: 400; }

/* line 130,  */
.text-center h3 {
  background:  none; }

/* line 136,  */
.text-left h3 {
  background: url("images/h3.jpg") bottom left no-repeat; }

/* line 141,  */
.caps {
  text-transform: uppercase; }

/* line 145,  */
p {
  margin: 20px 0 25px;
  font-style: normal;
  color:#a69a96; }

/* line 150,  */
.contact-info p {
  margin: 5px 0; }

/* line 154,  */
.container-fluid {
  width: 100%;
  text-align: center;
  padding: 0;
  position: relative;
  background: #fff; }
  
  @media screen and (max-width: 1101px) {
	  .container-fluid {
	  width:100%;
  } }
  
  .container-fluid.headerMenu { 
  	background:none;
	border:none;
    width:1100px;
  }
  /* line 160,  */
  .container-fluid .row-fluid {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: -8px;
    padding: 0 40px; }

/* line 168,  */
.icon {
  margin-bottom: 10px; }
  /* line 170,  */
  .icon:hover {
    text-decoration: none; }

/* line 175,  */
header {
  height: 200px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #fff;
  border-bottom: 1px solid #ccc; }
  /* line 183,  */
  header a .logo {
    margin-top: 5px; }
  /* line 187,  */
  header nav {
    width: 100%;
    text-align: center;
    font-family: "vollkornregular", Georgia, sans-serif; font-weight:200; }
    /* line 191,  */
    header nav ul {
      list-style: none;
      padding: 0; }
      /* line 194,  */
      header nav ul li {
        width: 30%;
        display: inline-block;
		 font-size:16px; }
        /* line 197,  */
        header nav ul li a {
          line-height: 200px;
          display: inline-block;
          text-transform: uppercase;
          color: #a69a96;
          font-weight: 200; }
          /* line 203,  */
          header nav ul li a:hover {
            text-decoration: none;
            color: #db6565; }
    /* line 210,  */
    header nav#top {
      position: absolute;
      z-index: 9999999;
      font-size: 15px;
      margin-top: 20px;
      right: 50px; }
      /* line 216,  */
      header nav#top ul {
        text-align: right; }
        /* line 218,  */
        header nav#top ul li {
          width: auto;
          border-right: 1px solid #000;
          padding: 0 15px; }
          /* line 222,  */
          header nav#top ul li a {
            line-height: 0;
			 font-size:12px; }
          /* line 225,  */
          header nav#top ul li img {
            margin-right: 10px;
            margin-top: -5px; }
          /* line 229,  */
          header nav#top ul li:last-child {
            border-right: 0; }
          /* line 233,  */
          header nav#top ul li .open-cart .cart-info {
            display: none; }
          /* line 237,  */
          header nav#top ul li .open-cart:hover .cart-info {
            display: inline-block !important; }
			
  @media screen and (max-width: 992px) {
    /* line 175,  */
    header {
      height: 75px;
      padding: 0 !important;
      text-align: center; }
      /* line 251,  */
      header a .logo {
        height: 40px;
        margin-top: 7px; }
      /* line 256,  */
      header .nav-toggle {
        background: url("images/nav-toggle.png") center center no-repeat;
        height: 38px;
        width: 38px;
        position: absolute;
        z-index: 9999;
        bottom: -19px;
        left: 50%;
        margin-left: -19px;
        cursor: pointer; }
      /* line 266,  */
      header nav {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 73px;
        background: #fff;
        margin-bottom: 30px; }
        /* line 273,  */
        header nav ul {
          line-height: 10px; }
          /* line 275,  */
          header nav ul li {
            width: 100%; }
            /* line 277,  */
            header nav ul li a {
              line-height: 30px; }
        /* line 282,  */
        header nav.show {
          display: block; }
        /* line 285,  */
        header nav.first {
          padding-top: 30px; }
        /* line 288,  */
        header nav.second {
          margin-top: 70px;
          border-bottom: 1px solid #ccc; } }

/* line 296,  */
.slider{
	width: 100%;
}
.slider-block{
	margin-top: -30px;
}
.ls-bottom-nav-wrapper, .ls-below-thumbnails {
  bottom: 50% !important ;
  height: 0;
  margin: 0 auto;
  position: absolute;
  right: 30px !important;
  text-align: center;
  width: 10px !important;
  z-index: 2;
}
a.ls-nav-start, a.ls-nav-stop{
	display: none !important
}
.get_inspire_left, .get_inspire_right {
  background-color: #f2f2f2;
  margin-right: 45px;
  padding: 20px 0;
}
.get_inspire_left h3, .get_inspire_right h3{
	font-size: 35px
}
.get_inspire_left p, .get_inspire_right p{
	font-family: "Vollkorn",Georgia,sans-serif;
	font-size: 24px
}
.widget_price_filter form{
	margin-top: 10px
}
.widget_price_filter form,
.widget_layered_nav ul
{
	display: none;
	
}

.widget_price_filter,
.widget_layered_nav
{
	background: url(images/plus.png) no-repeat top right;
	
}
.widget_price_filter:hover,
.widget_layered_nav:hover
{
	cursor: pointer
}
  @media screen and (max-width: 992px) {
    /* line 296,  */
    figure.banner {
      /*max-height: 230px;*/ } }
  /* line 303,  */
  figure.banner .full {
    position: fixed;
    top: 0;
    padding-top: 180px;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
	margin:0 auto; }
    @media screen and (max-width: 992px) {
      /* line 303,  */
      figure.banner .full {
        padding-top: 75px; } }
  /* line 315,  */
  figure.banner .button {
    position: absolute;
    z-index: 9;
    bottom: 50px;
    left: 50%;
    margin-left: -25px; }
  /* line 322,  */
  figure.banner.small {
    height:60%;
	opacity:100; }
    @media screen and (max-width: 992px) {
      /* line 322,  */
      figure.banner.small {
        height: 25%; } }
    /* line 327,  */
    figure.banner.small .full {
      width: 100%;
      min-width: 0 !important;
      height: auto !important;
      min-height: 0 !important; 
	  margin-top: -30px
	  }
.column_container{
margin-top: 50px}
/* line 336,  */
section {
  width: 100%;
  padding-bottom: 100px !important;
  height: auto;
  display: inline-block;
  background: #fff;
  position: relative;
  z-index: 2; }
  /* line 344,  */
  section .thumb {
    margin: 30px 0;
    max-width: 100%; }
  /* line 348,  */
  section .content {
    padding: 0 30px; }
  /* line 351,  */
  section img {
    max-width: 100%; }
  /* line 354,  */
  section.top {
    margin-top: 0px !important; }

/* line 359,  */
footer {
  background: #594d49;
  color: #fff;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-family: "Vollkorn", Georgia, sans-serif;
  width: 100%;
  margin-top: 30px; }
  @media screen and (max-width: 992px) {
    /* line 369,  */
    footer .row-fluid {
      padding: 0 !important; } }
  /* line 373,  */
  footer .copy {
    font-size: 13px; }
  @media screen and (max-width: 992px) {
    /* line 376,  */
    footer .navigation {
      padding: 0 !important; } }
  /* line 381,  */
  footer nav {
    background: #594d49;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    text-align: right; }
	
	
	@media screen and (max-width: 1800px) and (min-width: 992px) {
		header { height:150px; }
		header a .logo { width:140px; }
		header nav ul li a { line-height:120px; }
		figure.banner.small { }
		figure.banner .full { padding-top:150px; }	
	}
    @media screen and (max-width: 992px) {
		
		
      /* line 381,  */
      footer nav {
        text-align: left;
        padding: 0 5px; } }
    /* line 391,  */
    footer nav ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      /* line 395,  */
      footer nav ul li {
        display: inline-block;
        position: relative; }
        /* line 398,  */
        footer nav ul li a {
          color: #fff;
          padding: 0 10px; }
          /* line 401,  */
          footer nav ul li a:hover {
            text-decoration: none;
            color: #fff; }
        /* line 406,  */
        footer nav ul li ul.dropdown {
          display: none;
          position: absolute;
          bottom: 49px;
          padding: 10px;
          margin-left: -10px;
          background: #594d49;
          z-index: 999;
          min-width: 230px;
          text-align: left !important;
          line-height: 30px; }
          /* line 417,  */
          footer nav ul li ul.dropdown li {
            padding: 0;
            line-height: 20px;
            width: 100%; }
            /* line 421,  */
            footer nav ul li ul.dropdown li a {
              line-height: 20px;
              display: inline-block; }
			  footer nav ul li ul.dropdown li a:hover {
              color:#db6565; }
        /* line 428,  */
        footer nav ul li:hover ul.dropdown {
          display: block; }

/* line 438,  */
form {
  text-align: left;
  font-style: normal; }
  /* line 441,  */
  form input, form textarea {
    width: 100%;
    margin-bottom: 13px;
    padding: 10px;
    background: #fafafa;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    -ms-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    border: 1px solid #fff; }
    /* line 448,  */
    form input:hover, form input:focus, form textarea:hover, form textarea:focus {
      border-color: #a1a1a2; }
  /* line 452,  */
  form textarea {
    height: 250px; }
  /* line 455,  */
  form label {
    width: 100%;
    font-weight: normal; }
  /* line 459,  */
  form input[type=submit] {
    width: auto;
    font-style: normal;
    display: block;
    margin: 30px 0;
    font-size: 24px;
    padding: 0 85px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: #736763;
    border: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-family:"vollkornregular", Georgia, sans-serif; }
	.buy-form label{
		font-family:"vollkornregular", Georgia, sans-serif;
		font-size: 15px;
		font-style: italic
	}
	.buy-form label a{
		text-decoration: underline
	}
  /* line 476,  */
  form ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #000; }
  /* line 479,  */
  form :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #000;
    opacity: 1; }
  /* line 483,  */
  form ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #000;
    opacity: 1; }
  /* line 487,  */
  form :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #000; }
  /* line 490,  */
  form.search-form {
    position: relative;
    height: 40px; }
    /* line 493,  */
    form.search-form input.search {
      position: relative;
      z-index: 9;
      text-transform: uppercase;
      font-family: "vollkornregular", Georgia, sans-serif;
      background: #fff;
      font-style: normal;
      color: #736763;
      border: 1px solid #736763;
      font-size: 1.1em;
      height: 40px;
      line-height: 40px; }
	  
	  form.search-form input.search:focus,
		form.search-form input.search::-webkit-input-placeholder {
		color:#736763;	
	}
	  
    /* line 505,  */
    form.search-form input.search-submit {
      z-index: 10;
      position: absolute;
      right: 1px;
      top: 1px;
      width: 38px;
      margin: 0;
      padding: 0;
      height: 38px;
      line-height: 38px;
      background: white url("images/search-icon.png") center center no-repeat; }

/* line 520,  */
#isotope .item {
  width: 31%;
  margin: 1%; }
  @media screen and (max-width: 720px) {
    /* line 520,  */
    #isotope .item {
      width: 99%; } }
  /* line 526,  */
  #isotope .item img {
    width: 100%; }
  /* line 529,  */
  #isotope .item .caption {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    overflow: hidden;
    background: rgba(50, 40, 35, 0.8);
    position: absolute;
    z-index: 9998;
    display: inline-block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 30px;
    color: #fff; }
    /* line 541,  */
    #isotope .item .caption a {
      color: #fff; }
	  
	 #isotope .item .caption p,
	 #isotope .item .caption h4 {
		color:#fff; 
	 }
    /* line 544,  */
    #isotope .item .caption .share {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 80px;
      padding: 30px;
      z-index: 9999;
      background: url("images/shadow.png") bottom left repeat-x; }
      /* line 553,  */
      #isotope .item .caption .share ul.social-icons {
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        text-align: right; }
        /* line 559,  */
        #isotope .item .caption .share ul.social-icons li {
          display: inline-block;
          margin-left: 12px;
          max-width: 33%; }
  /* line 568,  */
  #isotope .item:hover .caption {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }

/* line 577,  */
.cart .row {
  border-bottom: 1px solid #a1a1a1;
  padding: 20px 0; }
/* line 582,  */
.cart .row.titles {
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase; }
/* line 587,  */
.cart .row.product {
  line-height: 80px;
  font-weight: 600;
  font-style: italic; }

/* line 595,  */
.info-total {
  margin-top: 40px;
  background: #fafafa;
  text-align: left;
  padding: 20px 0; }
  /* line 600,  */
  .info-total .col-md-8 {
    padding-left: 40px; }

/* line 605,  */
.foot {
  padding: 30px 0; }

/* line 609,  */
input.checkout {
  color: #fff;
  border: 0;
  text-transform: uppercase;
  font-size: 2em;
  font-family: "vollkornregular", Georgia, sans-serif;
  width: 100%;
  padding-left: 40px;
  line-height: 50px;
background: #736763 url("images/safe.png") 20px 15px no-repeat; }
  /* line 619,  */
  input.checkout:hover {
    background: #333333 url("images/safe.png") 30px 25px no-repeat; }

/* line 624,  */
.product {
  font-family: "vollkornregular", Georgia, sans-serif;
  margin-bottom: 35px;
  padding-bottom: 30px;
  border: 1px solid #fff;
  color:#a69a96; }
  /* line 629,  */
  .product:hover {
    border-color: #ccc;
    color: #857a77;
	font-weight:normal;
    text-decoration: none; }
  @media screen and (max-width: 992px) {
    /* line 624,  */
    .product {
      display: inline-block; } }

/* line 640,  */
.sidebar {
  padding-right: 6%; }
  @media screen and (max-width: 992px) {
    /* line 640,  */
    .sidebar {
      text-align: center;
      padding-right: 15px; } }
  /* line 646,  */
  .sidebar h4 {
    margin-top: 40px;
    font-style: normal;
	font-weight: bold;
    font-size: 1.3em;
	color:#736763; }
  /* line 652,  */
  .sidebar ul {
    list-style: none;
    padding: 0;
    font-family: "vollkornregular", Georgia, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase; }
    /* line 659,  */
    .sidebar ul li {
      margin: 10px 0;
	  color:#736763;
	   }
	  
      /* line 661,  */
      .sidebar ul li a {
        color: #736763; }

/* line 668,  */
.crumbtrail {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: .8em;
  margin-top: 35px; }
  /* line 672,  */
  .crumbtrail.back {
    text-transform: uppercase; }

/* line 677,  */
.product-large {
  height: 400px; }

/* line 682,  */
.social-icons.wide .icon {
  margin-left: 20px; }

/* line 687,  */
#accordion {
  margin-top: 30px; }

/* line 691,  */
.panel-group .panel + .panel {
  margin: 0; }

/* line 695,  */
.panel-default {
  border: 0; }
  /* line 697,  */
  .panel-default.panel {
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    -ms-box-shadow: 0 0 0;
    box-shadow: 0 0 0; }
  /* line 700,  */
  .panel-default .panel-heading {
    border: 0;
    padding: 6px 0;
    border-top: 1px solid #a1a1a1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background: #fff; }
  /* line 707,  */
  .panel-default .panel-body {
    border: 0 !important;
    padding: 10px 0 20px; }

/* line 713,  */
.toggle {
  width: 100%;
  display: inline-block;
  background: url("images/arrow-up.png") right center no-repeat; }
  /* line 717,  */
  .toggle.collapsed {
    background: url("images/arrow-down.png") right center no-repeat; }

/* line 722,  */
.options {
  margin-bottom: 10px; }
  /* line 724,  */
  .options .title {
    font-family: "Vollkorn", Georgia, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    width: 110px;
	color:#736763; }
  /* line 730,  */
  .options .label {
    border: 1px solid #736763;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    color: #000;
    margin-right: 7px;
    text-transform: uppercase;
    font-family: "Open Sans", Arial, sans-serif;
    width: auto;
    font-size: .9em;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    font-weight: normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    /* line 744,  */
    .options .label:hover, .options .label.active {
      background: #736763;
      color: #fff; }
    /* line 748,  */
    .options .label.size {
      width: auto;
      padding: 0 5px; }

/* line 755,  */
a.open-cart {
  position: relative; }
  /* line 758,  */
  a.open-cart:hover .cart-info {
    color: #000 !important;
    text-decoration: none; }

/* line 765,  */
.cart-info {
  position: absolute;
  z-index: 999999;
  right: 0;
  border: 1px solid #736763;
  background: #fff;
color:#736763;
  padding: 10px;
  width: 305px;
  text-align: left; }
  /* line 775,  */
  .cart-info .title {
	  font-family: "Vollkorn", Georgia, sans-serif;
    font-size: 1.2em;
	color:#736763;
	text-transform:uppercase;
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #a1a1a1;
	 }
  /* line 781,  */
  .cart-info img {
    max-width: 100%; }
  /* line 784,  */
  .cart-info .item-title {
	  font-family: "Vollkorn", Georgia, sans-serif;
    text-transform: uppercase;
    font-size: .8em; }
  /* line 788,  */
  .cart-info .info {
    font-size: .8em;
    font-weight: 300;
    text-transform: none !important;
    font-style: italic;
    font-family: "Vollkorn", Georgia, sans-serif;
    display: block;
    clear: both;
    position: relative; }
  /* line 798,  */
  .cart-info .btn {
    margin-top: 10px;
    width: 170px;
    background: #fff;
    color: #736763;
	border:1px solid #736763;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    height: 25px;
    padding: 15px 0;
    font-size: 2em;
    text-transform: uppercase;
	float:right; }
  /* line 809,  */
  .cart-info a.remove {
    line-height: 100px !important;
    margin-right: 10px;
    display: inline-block; }
  /* line 814,  */
  .cart-info .item {
    border-bottom: 1px solid #a1a1a1;
    margin: 15px;
    padding-bottom: 15px; }
  /* line 819,  */
  .cart-info .total {
    margin: 15px 15px 0 15px; }

/* line 824,  */
.separator {
  margin-top: 50px;
  padding: 0;
  border-top: 1px solid #a1a1a1; }

/* line 830,  */
.select {
  width: 100%;
  height: 50px;
  overflow: hidden;
  background: url(images/arrow-down.jpg) no-repeat right white;
  border: 1px solid #a69a96;
  margin-bottom: 10px; }
  /* line 837,  */
  .select select {
    background: transparent;
    width: 100%;
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    color: #a69a96;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 50px;
    -webkit-appearance: none;
    font-size: 1.5em; }

/* line 854,  */
.store {
  margin-top: 40px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px; }
  /* line 858,  */
  .store h4 {
    text-transform: none; }
  /* line 861,  */
  .store img {
    margin-top: 22px; }
  /* line 864,  */
  .store p {
    font-style: normal; }


.open-cart {   font-family: "Open Sans", Arial, sans-serif; font-weight:600; color:#a69a96; }

.woocommerce .widget_price_filter .price_slider_amount, .woocommerce-page .widget_price_filter .price_slider_amount { font-size:0.55em; }

.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range { background:#8c827f; }

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content { border:none; background:#a69a96;}

.woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button {
 color:#736763;
 font-size:1.3em;
}

.woocommerce .widget_price_filter .price_slider_amount .button:hover, .woocommerce-page .widget_price_filter .price_slider_amount .button:hover {
 background-color:#736763;	
 color:#ffffff;
}

.woocommerce-page h4.panel-title a.toggle { color: #736763; }

.map-container{
	margin-top: -100px
}

#map_canvas{
	width: 100%;
	height: 400px
}

.ls-bottom-slidebuttons a{ background: url(images/dot-off.png) no-repeat top left !important}
.ls-bottom-slidebuttons a.ls-nav-active{ background: url(images/dot-on.png) no-repeat top left !important}
.buy-form input.add-to-bag[type="submit"]{ background:#736763 url(images/lock.png) no-repeat 25px 15px !important;  }
input.checkout {
	background: url("images/checkoutforward.png") no-repeat scroll 92% 17px #736763 !important;
	border: 0 none;
	color: #fff;
	font-family: "Vollkorn",Georgia,sans-serif;
	font-size: 24px;
	line-height: 50px;
	padding-right: 60px;
	text-transform: uppercase;
	width: 100%;
}
.woocommerce-cart .text-left a{
	font-family: "Vollkorn",Georgia,sans-serif;
	font-size: 15px;
}
.text-center h1{
	margin: 0!important
}

@media screen and (max-width: 800px) {
  .container-fluid.headerMenu{ width: 100% !important}
  figure.banner.small .full{ margin-top: 10px !important}
}